<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="inner">
      <table class="table">
        <thead>
        <th width="25%"></th>
        <th>Details</th>
        </thead>
        <tr>
          <td><b>Content</b></td>
          <td><%= sanitize @notice.content %></td>
        </tr>
        <tr>
          <td><b>Is Active</b></td>
          <td>
            <%= @notice.is_active %>
          </td>
        </tr>
        <tr>
          <td><b>Created By</b></td>
          <td><%= @notice.user.name %> @ <%= l(@notice.created_at.in_time_zone('Hanoi'), :format => :date_time_only) %> </td>
        </tr>
      </table>
      <div class="wat-cf">
        <% if (current_user.has_role? :supervisor) %>
          <%= link_to(image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit") + " Edit",
            edit_notice_path(@notice), :class => "button") %>
          <%= link_to(image_tag("web-app-theme/icons/cross.png", :alt => "Delete") + " Delete", 
            deactive_notice_path(@notice), :class => "button") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>