<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">            
    <div class="inner">
      <%= form_tag update_individual_flights_path, :method => :put, :html => { :class => :form } do |f| -%>
        <% for flight in @flights %>      
          <%= fields_for "flights[]", flight do |f| %>
            <h2>Edit Flight <%= h flight.flight_no %> </h2>
            <%= render :partial => "form_time", :locals => {:f => f}, :object => flight %>
            <hr>
          <% end -%>
        <% end -%>
        <%= tinymce %>
        <p><%= submit_tag "Update All" %></p>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>