<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="content-header">
      <h2 class="title">
        <% if params[:date].nil? %>
          <%= "Departure Flight Schedules - #{l(DateTime.current, :format => :date_only)}" %>
        <% else %>
          <%= "Departure Flight Schedules - #{l(DateTime.parse(params[:date]), :format => :date_only)}" %>
        <% end %>
      </h2>
    </div>
    <div class="inner">
      <%= form_tag edit_individual_flights_path do %>
        <table class="table">
          <tr>
            <th width="3%"></th>
            <th width="10%">Type-Reg</th>
            <th width="10%">Flt No</th>
            <th width="17%">Routing</th>
            <th width="5%">D/I</th>
            <th width="5%">STD</th>
            <th width="5%">ETD</th>
            <th width="25%">Duty Staff</th>
            <th>Remarks</th>
          </tr>
          <% @flights.each do |arrival| -%>
            <tr bgcolor="<%= arrival.is_domestic ? '#FFFFFF' : '#FFFFDD'%>">
              <td>
                <%= check_box_tag "flight_ids[]", arrival.id %>
              </td>
              <td><%= aircraft_type_reg_no_from_id(arrival) %></td>
              <td><b><%= link_to(arrival.flight_no, flight_path(arrival)) %></b></td>
              <td>
                <%= arrival.routing.routing %>
              </td>
              <td>
                <%= arrival.is_domestic ? 'D' : 'I' %>
              </td>
              <td><%= arrival.std.localtime.to_formatted_s(:time) unless arrival.std.nil? %></td>
              <td><%= arrival.atd.localtime.to_formatted_s(:time) unless arrival.atd.nil? %></td>
              <td>
                <% if !arrival.user.nil? %>
                  <%= arrival.user.short_name.blank? ? arrival.user.name : arrival.user.short_name %>
                <% end %>
              </td>
              <td><%= arrival.remark %></td>
            </tr>
          <% end -%>
        </table>

        <div class="actions-bar wat-cf">
          <div class="actions">
            <%= submit_tag "Edit Checked" %>
            <% if (!current_user.nil? && current_user.has_role?(:assign_roster, ArrivalFlight))  %>
              <%= submit_tag "Assign Checked", :name => "assign" %>
            <% end %>
          <% end %>
        </div>
        <%= paginate @flights %>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
