<div id="box">
  <h1>Flight Management-CS TOC</h1>
  <div class="block" id="block-login">
    <h2>Sign in</h2>
    <div class="content login">
      <div class="flash">
        <% flash.each do |type, message| %>
          <%= content_tag :div, message, :class => "message #{type}" %>
        <% end -%>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f| %>
          <div class="group wat-cf">
            <div class="left"><%= f.label :email, :class => "label right" %></div>
            <div class="right"><%= f.text_field :email, :class => "text_field" %></div>
          </div>
          <div class="group wat-cf">
            <div class="left"><%= f.label :password, :class => "label right" %></div>
            <div class="right"><%= f.password_field :password, :class => "text_field" %></div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="group wat-cf">
              <div class="right">
                <%= f.check_box :remember_me, :class => "checkbox" %>
                <%= f.label :remember_me, :class => "checkbox" %>
              </div>
            </div>
          <% end -%>
          <div class="group wat-cf">
            <div class="right">
              <%= content_tag :button, :type => :submit, :class => 'button', :accesskey => 'a' do %>
                <%= image_tag 'web-app-theme/icons/key.png'%>
                Sign In
              <% end %>
            </div>
          </div>
        <% end -%>
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>