<div class="group">
  <%= f.label :content, "Briefing Content", :class => :label%>
  <%= f.text_area :content, :class => 'text_area', :cols => 50, :rows => 4  %>
  <div>Character used <span id='char-count'>0</span></div>
</div>

<div class="group">
  <%= f.label :active_date, t("activerecord.attributes.briefingpost.active_date", :default => "Active Date"), :class => :label %>
  <%= f.date_select(
    :active_date, 
    {
      :start_year => Time.now.year, 
      :end_year => Time.now.year + 1, 
      :order => [:day, :month, :year],
      :use_short_month => true
    }, 
    :class => 'text_field'
  ) %>
</div>
<div class="group">
  <div class="left">
    <%= f.label :active_shift, t("activerecord.attributes.briefingpost.active_shift", :default => "Active Shift"), :class => :label %>
    <%= f.select :active_shift, options_for_select([['All day', 0], ['Morning', 1], ['Afternoon', 2], ['Evening', 3]], 0), :class => 'text_field' %>
  </div>

  <div class="right">
    <%= f.label :active_flight, "Active Flight", :class => :label %>
    <%= f.text_field :active_flight, :class => 'text_field', :maxlength => 6 %>
  </div>
</div>
<div class="group">
  <div class="left">
    <%= f.label :is_domestic, "Briefing Type", :class => :label %>
    <%= f.radio_button :is_departure, :general, {:checked => true} %> General<br/>
    <%= f.radio_button :is_domestic, :domestic %> Domestic<br/>
    <%= f.radio_button :is_domestic, :international %> International
  </div>
  <div class="right">
    <%= f.label :is_departure, "Active Section", :class => :label %>
    <%= f.radio_button :is_departure, true, {:checked => true} %> Departure<br/>
    <%= f.radio_button :is_departure, false %> Arrival
  </div>
</div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Save")%>Save
  </button>
  <%= img_link_tag 'Cancel', 'cross.png', :href => briefingposts_path, :class => 'button' %>
</div>