<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= link_to "Go Show", routings_path  %></li>
    <li><%= link_to "Arrival", arrival_flights_path  %></li>
    <li class="active"><%= link_to "Briefings", briefingposts_path  %></li>
    <li class="pax-action"><%= link_to "Morning", briefingposts_path(:shift => 1, :date => params[:date])%></li>
    <li class="pax-action"><%= link_to "Afternoon", briefingposts_path(:shift => 2, :date => params[:date])%></li>
    <li class="pax-action"><%= link_to "#{t("web-app-theme.briefing", :default => "Night")}", briefingposts_path(:shift => 3, :date => params[:date])%></li>
    <li class="pax-action"><%= link_to "#{t("web-app-theme.briefing", :default => "Arrival")}", briefingposts_path(:area => false, :date => params[:date])%></li>
    <li class="pax-action"><%= link_to "#{t("web-app-theme.briefing", :default => "Departure")}", briefingposts_path(:area => true, :date => params[:date])%></li>
    <% unless current_user.nil? %>
      <li class="pax-action"><%= link_to "#{t("web-app-theme.new", :default => "New Briefing")}", new_briefingpost_path %></li>
    <% end -%>
  </ul>
  <%= render(:partial => 'date_search') %>
</div>