<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">
      <% if params[:date].nil? %>
        <%= "Briefing #{l(DateTime.current, :format => :date_only)}" %>
      <% else %>
        <%= "Briefing #{l(DateTime.parse(params[:date]), :format => :date_only)}" %>
      <% end %>
    </h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>Content</th>
          <th>Shift</th>
          <th>Flight</th>
          <th>Area</th>
          <th>Type</th>
        </tr>
        <% @briefingposts.each do |briefingpost| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <% if briefingpost.is_active %>
              <td class="briefing-note">
                <%= link_to sanitize(briefingpost.content), briefingpost_path(briefingpost) %>
              </td>
            <%else%>
              <td class="deactive">
                <%= sanitize "<del>#{briefingpost.content}</del>" %>
              </td>
            <%end%>
            <% if briefingpost.active_shift == 0 %>
              <td class="all-day">All Day</td>
            <% elsif briefingpost.active_shift == 1 %>
              <td class="morning">Morning</td>
            <% elsif briefingpost.active_shift == 2 %>
              <td class="afternoon">Afternoon</td>
            <% else %>
              <td class="night">Night</td>
            <% end %>

            <td>
              <b><%= briefingpost.active_flight %></b>
            </td>
            <td>
              <% if briefingpost.is_departure %>
                <span style="color: blue">Departure</span>
              <% else %>
                <span style="color: #CC00D7">Arrival</span>
              <% end %>
            </td>
            <td>
              <% if briefingpost.is_domestic == 1 %>
                <span style="font-weight: bold;">Domestic</span>
              <% elsif briefingpost.is_domestic == 0 %>
                <span style="font-weight: bold; color: red;">International</span>
              <% else %>
                <span style="font-weight: bold; color: purple;">General</span>
              <% end  %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

        <%= paginate @briefingposts  %>

      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>
