<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">User Details</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <td class="name-attr">Name</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td class="name-attr">Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="name-attr">Has right to</td>
          <td><%= link_to "Change Password", edit_user_password_path(current_user) %></td>
        </tr>
        <tr>
          <td></td>
          <% if current_user.has_role? :supervisor %>
            <td>
              <%= link_to "Add Important Notice", new_notice_path %>
            </td>
          <% end %>
        </tr>
        <% if User.find(params[:id]).has_role?(:manage_all_user, User) %>
          <tr>
            <td></td>
            <td>
              <%= link_to "Manage All Users", users_path %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>