<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">User Details</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <td class="name-attr">Name</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td class="name-attr">Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="name-attr">Has right to</td>
          <td>
            <%= link_to "Change Password", edit_user_password_path(current_user) %><br/>
            <% if current_user.has_role?(:assign_roster, ArrivalFlight) %>
              <hr/>
              <hr/>
              <b>Manage Rosters Roles:</b><br>
              <%= link_to "Upload New File", new_data_file_path %><br/>
            <% end %>
            <% if current_user.has_role? :supervisor %>
              <hr/>
              <hr/>
              <b>Supervisor Roles:</b><br>
              <%= link_to "Add Important Notice", new_notice_path %><br/>
              <%= link_to "View Open Arrival Flights", open_arrival_flights_path %><br/>
            <% end %>
            <% if current_user.has_role?(:manage_all_user, User) %>
              <hr/>
              <hr/>
              <b>Manage Users Roles:</b><br>
              <%= link_to "Manage All Users", users_path %><br/>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>