<%= form_for(@passenger) do |f| %>
  <% if @passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

      <ul>
      <% @passenger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passenger_name %><br />
    <%= f.text_field :pax_name %>
  </div>
  <div class="field">
    <%= f.label 'PID' %><br />
    <%= f.text_field :personal_id %>
  </div>
  <div class="field">
    <%= f.label :routing_id %><br />
    <%= f.number_field :routing_id %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="field">
    <%= f.label :ticket_class %><br />
    <%= f.text_field :ticket_class %>
  </div>
  <div class="field">
    <%= f.label :priority_id %><br />
    <%= f.number_field :priority_id %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br />
    <%= f.number_field :sequence %>
  </div>
  <div class="field">
    <%= f.label :origin_flight %><br />
    <%= f.text_field :origin_flt %>
  </div>
  <div class="field">
    <%= f.label :accepted_flight %><br />
    <%= f.text_field :accepted_flt %>
  </div>
  <div class="field">
    <%= f.label :accepted %>
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :called %>
    <%= f.check_box :called %>
  </div>
  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
