<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first">
      <%= link_to "Briefing", briefingposts_path %>
    </li>
    <li><%= link_to "Arrival", arrival_flights_path  %></li>
    <li>
      <%= link_to "Go Show", routings_path %>
    </li>
    <li class="active">
      <%= link_to routing.routing, routing_passengers_path(routing.id) %>
    </li>
    <li class="pax-action">
      <%= link_to "Accepted Pax", show_accepted_routing_passengers_path(routing) -%>
    </li>
    <li class="pax-action">
      <%= link_to "Cleared Pax", show_cleared_routing_passengers_path(routing) -%>
    </li>
    <li class="pax-action">
      <%= link_to "New Passenger", new_routing_passenger_path(routing) -%>
    </li>
  </ul>
</div>