<h2>Change Details</h2>
<div class="form_div">
<%= form_for(@user, :as => @user, :url => user_password_path(@user), :html => { :method => :put }) do |f| %>
  <p>
   <%= f.label :short_name, "Short name" %><br />
   <%= f.text_field :short_name %></p>
  <p>
   <%= f.label :current_password %><br />
   <%= f.password_field :current_password %></p>

  <p><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Change Details" %></p>
  <%end%>
</div>