<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">Report Content - Working Shift: <%= @report.working_shift.shift_short_desc %></h2>
    <div class="inner">
      <%= sanitize @report.content %>
      <br>
      <% if @report.is_active %>
        <%= link_to 'Edit', edit_report_path(@report) %> |
      <% end %>
      <%= link_to 'Back', reports_path %>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
