<table>
  <tr>
    <td width="50%">
      <% if params[:field].blank? || params[:field] == "reg_time" %>
        <div class="group">
          <%= f.label :reg_no, "Registration Number", :class => :left_label %>
          <%= f.text_field :reg_no, :class => 'right_text_field', :maxlength => 10 %>
        </div>
        <div class="group">
          <%= f.label :Time, "STA", :class => :left_label_item %>
          <%= f.time_select :sta, 
            {:include_blank => true, :minute_step => 5},
            :class => 'right_text_field' %>
        </div>
        <div class="group">
          <%= f.label :Time, "ETA", :class => :left_label_item %>
          <%= f.time_select(
            :eta, 
            {:include_blank => true},
            :class => 'right_text_field'
          )%>
        </div>  
        <div class="group">
          <%= f.label :Time, "ATA", :class => :left_label_item %>
          <%= f.time_select(
            :ata,
            {:include_blank => true},
            :class => 'right_text_field'
          )%>
        </div>
        <% if (current_user && current_user.has_role?(:assign_roster, ArrivalFlight)) %>
          <div class="group">
            <%= f.label :baggage_assessment, "Baggage Assessment", :class => :left_label_item %>
            <%= f.check_box :baggage_assessment %>
          </div>
        <% end %>
      <% end %>
      <% if params[:field].blank? || params[:field] == "ssr" %>
        <div class="group">
          <br>
          <%= "LO#{arrival_flight.flight_no.slice(/\d+/)}/#{arrival_flight.flight_date.day}#{arrival_flight.flight_date.strftime("%b").upcase}#{arrival_flight.routing.routing.slice(/[A-Z]+/)}SGN-D" %>
        </div>
      <% end %>
    </td>
    <% if params[:field].blank? || params[:field] == "ssr" %>
      <td>
        <div class="group">
          <%= f.label :ssr, "VIP/CIP/SSR", :class => :label%>
          <%= f.text_area :ssr, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </div>
      </td>
      <td>
        <div class="group">
          <%= f.label :outbound_tags, "Outbound", :class => :label%>
          <%= f.text_area :outbound_tags, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </div>
      </td>
    <% end %>
  </tr>
</table>