<table class="arrival-flight-form">
  <tr>
    <td>
      <div class="group">
        <%= f.label :flight_no, "Flt No.", :class => "arrival-label" %>
        <%= f.text_field :flight_no, :class => 'right_text_field', :maxlength => 10 %>
      </div>

      <div class="group">
        <%= f.label :flight_date, "Flt Date", :class => "arrival-label" %>
        <%= f.date_select(
          :flight_date, 
          {
            :start_year => Time.now.year, 
            :end_year => Time.now.year + 1, 
            :order => [:day, :month, :year],
            :use_short_month => true
          }, 
          :class => 'right_text_field'
        ) %>
      </div>

      <div class="group">
        <%= f.label "Routing", :class => "arrival-label" %>
        <%= f.collection_select :routing_id, 
          Routing.where(:is_arrival => true).order("routing asc"), 
          :id, :routing, :selected => @arrival_flight.routing_id, :class => 'right_text_field',
          :enabled => false
      %>
      </div>

      <div class="group">
        <%= f.label :reg_no, "Registration No.", :class => "arrival-label" %>
        <%= f.text_field :reg_no, :class => 'right_text_field', :maxlength => 10 %>
      </div>

    </td>
    <td valign="top">
      <div class="group">
        <%= f.label :Time, "STA", :class => "arrival-label" %>
        <%= f.time_select :sta, 
          {:include_blank => true, :minute_step =>5},
          :class => 'right_text_field'
      %> - <%= f.check_box :sta_arrnextday %> Arr Next Day
      </div>
      <div class="group">
        <%= f.label :Time, "ETA", :class => "arrival-label" %>
        <%= f.time_select(
          :eta, 
          {:include_blank => true},
          :class => 'right_text_field'
        )%> - <%= f.check_box :eta_arrnextday %> Arr Next Day
      </div>  
      <div class="group">
        <%= f.label :Time, "ATA", :class => "arrival-label" %>
        <%= f.time_select(
          :ata,
          {:include_blank => true},
          :class => 'right_text_field'
        )%> - <%= f.check_box :ata_arrnextday %> Arr Next Day
      </div>
    </td>
    <td valign="top">
      <div class="group">
        <%= f.label :is_domestic, "Domestic Flight", :class => "arrival-label" %>
        <%= f.check_box :is_domestic, :class => "checkbox" %>
      </div>
      <% if (current_user && current_user.has_role?(:assign_roster, ArrivalFlight)) %>
        <div class="group">
          <%= f.label :baggage_assessment, "Baggage Assessment", :class => "arrival-label" %>
          <%= f.check_box :baggage_assessment, :class => "checkbox" %>
        </div>
      <% end %>
      <div class="group navform wat-cf">
        <button class="button" type="submit">
          <%= image_tag("web-app-theme/icons/tick.png", :alt => "Save")%>Save
        </button>
        <%= img_link_tag 'Cancel', 'cross.png', :href => arrival_flights_path, :class => 'button' %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="group">
        <%= f.label :ssr, "VIP/CIP/SSR", :class => "arrival-label"%>
        <%= f.text_area :ssr, :class => 'tinymce text_area', :cols => 60, :rows => 4  %>
        <%= f.label :outbound_tags, "Outbound", :class => :label%>
        <%= f.text_area :outbound_tags, :class => 'tinymce text_area', :cols => 60, :rows => 4  %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan ="3">
      <div class="group">
        <%= f.label :baggage, "Baggage", :class => "arrival-label" %>
        <%= f.text_area :baggage, :class => 'tinymce text_area', :cols => 60, :rows => 4  %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="information">
      <%= f.label :irregular_information, "Information", :class => :label%>
      <%= sanitize @arrival_flight.irregular_information  %>
      <hr/>
      <div class="group">
        <%= f.label :irregular_information, "Update", :class => "arrival-label" %>
        <%= f.text_area :remarks, :class => 'tinymce text_area', :cols => 60, :rows => 4  %>
      </div>
    </td>
    <%= tinymce %>
  </tr>
</table>