<% if (!params[:field].blank? && params[:field] == "reg_time") %>
  <%= render :partial => "reg_time", :locals => {:f => f, :arrival_flight => arrival_flight} %>
<% else %>
  <table id="individual">
    <tr>
      <td>
        <%= f.label :reg_no, "Reg No.", :class => :left_label %>
        <%= f.text_field :reg_no, :class => 'right_text_field', :maxlength => 5 %><br>
        <% if (current_user && current_user.has_role?(:assign_roster, ArrivalFlight)) %>
          <%= f.label :baggage_assessment, "Baggage Assessment", :class => :left_label_item %>
          <%= f.check_box :baggage_assessment %><br>
        <% end %>
      </td>
      <td>
        <%= f.label :Time, "STA", :class => :left_label_item %>
        <%= f.time_select :sta, 
          {:include_blank => true, :minute_step => 5},
          :class => 'right_text_field' %><br>
        <%= f.label :Time, "ETA", :class => :left_label_item %>
        <%= f.time_select(
          :eta, 
          {:include_blank => true},
          :class => 'right_text_field'
        )%><br>
        <%= f.label :Time, "ATA", :class => :left_label_item %>
        <%= f.time_select(
          :ata,
          {:include_blank => true},
          :class => 'right_text_field'
        )%>
      </td>
      <td>
        <%= f.label :irregular_information, "Current Information", :class => :label%><br>
        <%= sanitize arrival_flight.irregular_information  %>
      </td>
    </tr>
    <tr>
      <% if params[:field].blank? || params[:field] == "ssr" %>
        <td>
          <%= f.label :ssr, "VIP/CIP/SSR", :class => :label%>
          <%= f.text_area :ssr, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </td>
        <td>
          <%= f.label :outbound_tags, "Outbound", :class => :label%>
          <%= f.text_area :outbound_tags, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </td>
      <% end %>
      <% if params[:field].blank? || params[:field] == "baggage" %>
        <td>
          <%= f.label :baggage, "Baggage", :class => :label%>
          <%= f.text_area :baggage, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </td>
      <% end %>
      <% if params[:field].blank? || params[:field] == "irr_info" %>
        <td>
          <%= f.label :irregular_information, "Irregular Information", :class => :label%><br>
          <%= f.text_area :remarks, :class => 'tinymce text_area', :cols => 30, :rows => 4  %>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>