<div class="group">
  <%= f.label :flight_date, "Flight Date", :class => :label %>
  <%= f.date_select(
    :flight_date, 
    {
      :start_year => Time.now.year, 
      :end_year => Time.now.year + 1, 
      :order => [:day, :month, :year],
      :use_short_month => true
    }, 
    :class => 'text_field'
  ) %>
</div>

<div class="group">
  <%= f.label :reg_no, "Registration Number", :class => :label%>
  <%= f.text_field :reg_no, :class => 'text_field', :maxlength => 10 %>
</div>

<div class="group">
  <%= f.label :flight_no, "Flight Number", :class => :label%>
  <%= f.text_field :flight_no, :class => 'text_field', :maxlength => 10 %>
</div>

<div class="group">
  <%= f.label "Routing", :class => :label %>
  <%= f.collection_select :routing_id, 
    Routing.where(:is_arrival => true), 
    :id, :routing, :selected => @arrival_flight.routing_id, :class => 'text_field' %>
</div>

<div class="group">
  <div class="arrival-left">
    <%= f.label :Time, "STA/ETA/ATA", :class => :label %>
    <%= f.time_select :sta, {}, :class => 'text_field', :maxlength => 6 %>
    <%= f.text_field :eta, :class => 'text_field', :maxlength => 6 %>
    <%= f.text_field :ata, :class => 'text_field', :maxlength => 6 %>
  </div>

  <div class="right">
    
  </div>
</div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Save")%>Save
  </button>
  <%= img_link_tag 'Cancel', 'cross.png', :href => arrival_flights_path, :class => 'button' %>
</div>