<div class="group">
  <%= f.label :reg_no, "Reg No. ", :class => :label %>
  <%= f.text_field :reg_no, :class => 'right_text_field', :maxlength => 10 %>
  <%= f.label "Routing", :class => "label" %>
  <%= f.collection_select :routing_id, 
    Routing.where(:is_arrival => true).order("routing asc"), 
    :id, :routing, :selected => arrival_flight.routing_id, :class => 'right_text_field',
    :enabled => false
  %>
  <%= f.label :Time, "STA", :class => "arrival-label" %>
  <%= f.time_select :sta, 
    {:include_blank => true, :minute_step => 5},
    :class => 'right_text_field' %>
  <%= f.label :Time, "ETA", :class => "arrival-label" %>
  <%= f.time_select(
    :eta, 
    {:include_blank => true},
    :class => 'right_text_field'
  )%>
  <%= f.label :Time, "ATA", :class => "arrival-label" %>
  <%= f.time_select(
    :ata,
    {:include_blank => true},
    :class => 'right_text_field'
  )%>
  <br>
  <% if (current_user && current_user.has_role?(:assign_roster)) %>
    <%= f.label :baggage_assessment, "Belt Assessment", :class => "arrival-label" %>
    <%= f.check_box :baggage_assessment %><br>
    <%= f.label :is_domestic, "Domestic Flt", :class => "arrival-label" %>
    <%= f.check_box :is_domestic, :class => "checkbox" %>
  <% end %>
</div>
