<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="content-header">
      <h2 class="title">
        Duty Arrival Flights <%= "#{l(params[:date].to_date, :format => :date_only)}" unless params[:date].blank? %>
      </h2>
    </div>
    <div class="inner">
      <%= form_tag edit_individual_arrival_flights_path do %>
        <table class="table">
          <tr>
            <th width="3%"></th>
            <th>Type-Reg</th>
            <th>Flt No</th>
            <th>Routing</th>
            <th>STA</th>
            <th>ETA</th>
            <th>ATA</th>
            <th>B/A</th>
            <th>Approval by</th>
            <th>Remarks</th>
          </tr>
          <% @arrival_flights.each do |arrival| -%>
            <tr bgcolor="<%= arrival.is_domestic ? '#FFFFFF' : '#FFFFDD'%>" >
              <td>
                <%= check_box_tag "arrival_flight_ids[]", arrival.id unless arrival.is_approval %>
              </td>
              <td><%= aircraft_type_reg_no(arrival) %></td>
              <td><b><%= link_to(arrival.flight_no, arrival_flight_path(arrival)) %></b></td>
              <td>
                <%= arrival.routing.routing %>
              </td>
              <td><%= arrival.sta.localtime.to_formatted_s(:time) unless arrival.sta.nil? %></td>
              <td><%= arrival.eta.localtime.to_formatted_s(:time) unless arrival.eta.nil? %></td>
              <td><%= arrival.ata.localtime.to_formatted_s(:time) unless arrival.ata.nil? %></td>
              <td>
                <%= arrival.baggage_assessment==true ? 'x' : '' %> 
              </td>
              <td>
                <% if !arrival.approval_by.nil? %>
                  <%= User.find(arrival.approval_by).name %>
                <% end %>
              </td>
              <td><%= sanitize arrival.remarks %></td>
            </tr>
          <% end -%>
        </table>

        <div class="actions-bar wat-cf">
          <div class="actions">
            <% if user_signed_in?  %>
              <%= select_tag :field,
                options_for_select(
                [["All Fields", ""],
                  ["Registration & Time", "reg_time"],
                  ["SSR and Outbounds", "ssr"],
                  ["Baggage", "baggage"],
                  ["Irregular Information", "irr_info"]]
              )
            %>
              <%= submit_tag "Edit Checked" unless @arrival_flights.empty? %>
              <%= submit_tag "Assign Checked", :name => "assign" %>
            <% end %>
          </div>
        </div>
            <% end %>
      </div>
    </div>
  </div>
  <% content_for :sidebar, render(:partial => 'sidebar') -%>
