<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="inner">
      <%= form_tag update_individual_arrival_flights_path(:date => params[:date]), :method => :put, :html => { :class => :form } do -%>
        <% for arrival_flight in @arrival_flights %>
          <%= fields_for "arrival_flights[]", arrival_flight do |fd| %>
            <h3><b><%= h arrival_flight.flight_no %></b> - <%= h arrival_flight.routing.routing %></h3>
            <%= render :partial => "form_time", :locals => {:f => fd, :arrival_flight => arrival_flight} %>
            <hr>
          <% end -%>
        <% end -%>
        <%= tinymce %>
        <p><%= submit_tag "Update All" %></p>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>