<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">
      Arrival Flight Schedules
    </h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>Type-RegNo</th>
          <th>Flt No</th>
          <th>Routing</th>
          <th>Date</th>
          <th>STA</th>
          <th>Duty Staff</th>
        </tr>
        <% @arrival_flights.each do |arrival| -%>
          <tr>
            <td><%= aircraft_type_reg_no(arrival) %></td>
            <td><b><%= link_to(arrival.flight_no, arrival_flight_path(arrival)) %></b></td>
            <td>
              <%= arrival.routing.routing %>
            </td>
            <td><%= arrival.flight_date %>
            <td><%= arrival.sta.to_formatted_s(:time) unless arrival.sta.nil? %></td>
            <td>
              <%= arrival.user.name if !arrival.user.nil? %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

        <%= paginate @arrival_flights %>

      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>
