<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="content-header">
      <h2 class="title">
        Arrival Flight Schedules <%= "#{l(params[:date].to_date, :format => :date_only)}" unless params[:date].blank? %>
      </h2>
    </div>
    <div class="inner">
      <%= form_tag edit_individual_arrival_flights_path(:date => params[:date]) do %>
        <table class = "arrival-flight-table">
          <tr class="header">
            <th></th>
            <th width="10%">Type-Reg</th>
            <th width="10%">Flt No</th>
            <th width="20%">Routing</th>
            <th>STA</th>
            <th>ETA</th>
            <th>ATA</th>
            <th>Duty Staff</th>
            <th width="2%">B/A</th>
            <th>Flight Information</th>
          </tr>
          <% @arrival_flights.each do |arrival| -%>
            <tr bgcolor="<%= arrival.is_domestic ? '#FFFFFF' : '#FFFFDD'%>">
              <td>
                <%= check_box_tag "arrival_flight_ids[]", arrival.id if (!current_user.nil? && arrival.is_approval != true) %>
              </td>
              <td><%= aircraft_type_reg_no(arrival) %></td>
              <td class="<%= 'notify' unless (arrival.notify_count.nil?) %>">
                <b><%= link_to(arrival.flight_no, arrival_flight_path(arrival, :date => params[:date])) %></b>
              </td>
              <td>
                <%= arrival.routing.routing %>
              </td>
              <td>
                <%= arrival.sta.localtime.to_formatted_s(:time) unless arrival.sta.nil? %>
              </td>
              <td <%= "class='delay'" if (!arrival.eta.nil? && (arrival.eta > arrival.sta)) %>>
                <%= arrival.eta.localtime.to_formatted_s(:time) unless arrival.eta.nil? %>
              </td>
              <td <%= "class='delay'" if (!arrival.ata.nil? && (arrival.ata > arrival.sta)) %>>
                <%= arrival.ata.localtime.to_formatted_s(:time) unless arrival.ata.nil? %>
              </td>
              <td>
                <% if !arrival.user.nil? %>
                  <%= arrival.user.short_name.blank? ? arrival.user.name : arrival.user.short_name %>
                <% end %>
                <% if !arrival.lnf_user_id.nil? %>
                  <% user = User.find_by_id(arrival.lnf_user_id) %>
                  - <%= user.short_name.blank? ? user.name : user.short_name %>
                <% end %>
              </td>
              <td>
                <% if arrival.baggage_assessment == true %>
                  <b>&check;</b>
                <% end %>
              </td>
              <td class="<%= 'notify' unless (arrival.notify_count.nil?) %>">
                <%= sanitize generate_further_information(arrival) %>
              </td>
            </tr>
          <% end -%>
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
            <% if (!current_user.nil?)  %>
              <%= select_tag :field,
                options_for_select(
                [["All Fields", ""],
                  ["Registration & Time", "reg_time"],
                  ["SSR and Outbounds", "ssr"],
                  ["Baggage", "baggage"],
                  ["Irregular Information", "irr_info"]]
              )
            %>
              <%= submit_tag "Edit Checked" %>
              <% if (params[:date].blank? || (params[:date].to_date >= Date.today)) %>
                <%= submit_tag "Assign Checked", :name => "assign" if current_user.send(:has_role?,:assign_roster, ArrivalFlight) %>
              <% end %>
              <%= submit_tag "Review Checked", :name => "approval" if current_user.send(:has_role?, :supervisor) %>
            <% end %>
          <% end %>
        </div>
        <%= paginate @arrival_flights %>
      </div>
    </div>
  </div>
</div>
<% if (current_user && current_user.has_role?(:supervisor)) %>
  <% content_for :sidebar, render(:partial => 'sidebar_supervisor') -%>
<% else %>
  <% content_for :sidebar, render(:partial => 'sidebar') -%>
<% end %>
