<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <div class="inner">
      <table class="table">
        <thead>
        <th width="25%"><%= @arrival_flight.flight_no %> -- <%= @arrival_flight.routing.routing %></th>
        <th>Details</th>
        </thead>
        <tr>
          <td><b>Registration No</b></td>
          <td><%= aircraft_type_reg_no(@arrival_flight) %></td>
        </tr>
        <tr>
          <td><b>Flight Date</b></td>
          <td>
            <%= l(@arrival_flight.flight_date, :format => :date_only) %>
          </td>
        </tr>
        <tr>
          <td><b>STA | ETA | ATA</b></td>
          <td>
            <%= sanitize display_aviation_time(@arrival_flight.sta, @arrival_flight.flight_date) %> | 
            <%= sanitize display_aviation_time(@arrival_flight.eta, @arrival_flight.flight_date) %> | 
            <%= sanitize display_aviation_time(@arrival_flight.ata, @arrival_flight.flight_date) %>
          </td>
        </tr>
        <tr>
          <td><b>VIP/CIP/SSR</b></td>
          <td>
            <%= sanitize @arrival_flight.ssr %>
          </td>
        </tr>
        <tr>
          <td><b><%= link_to "Outbound", arrival_flight_outbounds_path(@arrival_flight) %></b></td>
          <td>
            <%= sanitize @arrival_flight.outbound_tags %>
          </td>
        </tr>
        <tr>
          <td><b>Irregular Baggage</b></td>
          <td>
            <%= sanitize @arrival_flight.baggage %>
          </td>
        </tr>
        <% if @arrival_flight.irregular_information.blank? && @arrival_flight.remarks %>
          <tr>
            <td><b>Remarks</b></td>
            <td>
              <%= sanitize @arrival_flight.remarks %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><b>Irregular Information</b></td>
          <td>
            <%= sanitize @arrival_flight.irregular_information %>
          </td>
        </tr>
        <tr>
          <td><b>Duty Staff</b></td>
          <td>
            <%= sanitize @arrival_flight.user.name unless @arrival_flight.user.nil? %>
          </td>
        </tr>
        <tr>
          <td><b>Lost N Found Staff</b></td>
          <td>
            <%= sanitize User.find(@arrival_flight.lnf_user_id).name unless @arrival_flight.lnf_user_id.nil? %>
          </td>
        </tr>
        <% unless @arrival_flight.notify_message.blank? %>
          <tr>
            <td><b>Notify Message</b></td>
            <td>
              <%= @arrival_flight.notify_message %><br/>
              Disapproval by <b><%= User.find(@arrival_flight.notify_by).name unless @arrival_flight.notify_by.nil? %></b>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><b>Approval By</b></td>
          <td>
            <%= User.find_by_id(@arrival_flight.approval_by).name unless @arrival_flight.approval_by.nil? %>
          </td>
        </tr>
      </table>
      <div class="wat-cf">
        <% if (@arrival_flight.is_approval!=true && !current_user.nil?) %>
          <%= link_to(image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit") + " Edit",
            edit_arrival_flight_path(@arrival_flight), :class => "button") %>
            <%= link_to "Assign", assign_arrival_flight_path(@arrival_flight), :method => :put, :class => 'button' %>
          <% if (current_user.has_role?(:assign_roster, ArrivalFlight)) %>
            <%= link_to "Delete", deactive_arrival_flight_path(@arrival_flight), :method => :put, :class => 'button' %>
          <% end %>
        <% end -%>
        <% if (@arrival_flight.audits.count > 1) %>
          <%= link_to "History Revisions", history_arrival_flight_path(@arrival_flight) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if (current_user && current_user.has_role?(:supervisor)) %>
  <% content_for :sidebar, render(:partial => 'sidebar_supervisor') -%>
<% else %>
  <% content_for :sidebar, render(:partial => 'sidebar') -%>
<% end %>