<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">            
    <h2 class="title">Report Content - Working Shift: <%= @report.working_shift.shift_short_desc %></h2>
    <div class="inner">
      <%= sanitize @report.content  %>
      <%= form_for @report, :html => {:class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>