<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">
      <% if params[:date].nil? %>
        <%= "Reports #{l(DateTime.current, :format => :date_only)}" %>
      <% else %>
        <%= "Reports #{l(DateTime.parse(params[:date]), :format => :date_only)}" %>
      <% end %>
    </h2>
    <div class="inner">
      <ul>
        <% @reports.each do |report| %>
        <li>
          <%= report.created_at.strftime("%d-%b") %> - <%= report.working_shift.description %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>