<div class="block">
  <%= render(:partial => 'secondary') %>
  <div class="content">
    <h2 class="title">
      Daily Reports <%= " - #{l(DateTime.parse(params[:date]), :format => :date_only)}" unless params[:date].blank? %>
    </h2>
    <div class="inner">
      <ul>
        <% @reports.each do |report| %>
          <% if (report.is_active == false) %>
            <li>
              <b><%= report.report_date.strftime("%d-%b") %></b> - <%= report.working_shift.description %> -
              <%= link_to "View", report_path(report) %> - Approved by <%= report.user.short_name %>
            </li>
          <% else %>
            <li class="not-approved">
              <b>
                <%= report.report_date.strftime("%d-%b") %>
              </b> - <%= report.working_shift.description %> -
              <%= link_to "View", report_path(report) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>